body {
    background-color: rgb(19, 19, 19);
    color: white;
}

.header {
    padding-inline: 16px;
    background-color: rgb(49, 49, 49);
    box-shadow: 80px 0px 30px black;
}

.nav {
    max-width: 1920px;
    height: 80px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 25pt;
    font-family: system-ui, sans-serif, Helvetica, sans-serif;
    letter-spacing: 6px;
}

.nav-list {
    display: flex;
    gap: 30px;
    font-size: 11pt;
}

#a:hover {
    color: rgb(71, 252, 176);
    font-size: 12pt;
    transition: 0.4s;
}

#b:hover {
    color: rgb(71, 252, 176);
    font-size: 12pt;
    transition: 0.4s;
}

#c:hover {
    color: rgb(71, 252, 176);
    font-size: 12pt;
    transition: 0.4s;
}

section#bloco {
    background-color: rgb(63, 18, 83);
    text-align: center;
    padding: 200px;
    border-radius: 100px;
    margin: auto;
    margin-top: 90px;
    width: 400px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
}

section#bloco:hover {
    background-color: rgb(94, 24, 124);
    padding: 230px;
    transition: 0.8s;
}

div {
    font-size: 20pt;
}

footer {
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}